<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group"> Create fake data
            <input name="amount" type="number" class="form-control">
        </div>
        <button type="submit">Create</button>
    </form>
</div>